section.skills li:hover {
    color: #ff9900; 
  }
  section {
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: 10px;
  }
  h1, h2 {
    font-family: 'Courier New',monospace;
  }
  div.special {
    background-color: #3498db; 
    color: rgb(230, 116, 9); 
    padding: 20px; 
  }
      
  body {
    background-color: rgba(221, 142, 231, 0.356); 
  }
        